@font-face{
font-family: 'efestoRegular';
src: url('./font/Efesto-Regularttf.ttf') format('truetype');
}
header{
	
	font-size: 1.4em;
	margin: 0 auto;
	text-align: center;
}

body {
	background: #43C6AC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a, button {
	outline: none;
}

.container{
	float: left;
	width:100%;
	padding: 50px;
}

.leftInfo {
	width: 50%;
	float: left;
	float: bottom;
	text-align:left;
	line-height: 50px;
	font-family:efestoRegular;
	font-weight: bold;
}

.rightTitle{
	float:left;
	width: 50%;
	line-height: 5px;
	text-align:right;
	padding-top: 500px;
	font-family: efestoRegular;
	font-weight: bold;
	font-size: 3.4em;
}
article{
padding: 10px;
}
}
