@font-face{
font-family: 'efestoRegular';
src: url('../font/Efesto-Regularttf.ttf') format('truetype');
}
header{
	
	font-size: 1.4em;
	margin: 0 auto;
	text-align: center;
}

body {
background-image:url("Images/meuwissenBackground.jpg");
}

a, button {
	outline: none;
}

.container{
	float: left;
	width:100%;
	padding: 50px;
}

.leftInfo {
	width: 80%;
	float: left;
	float: bottom;
	text-align:left;
	line-height: 50px;
	padding-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.4em;

}

.rightTitle{
	float:left;
	width: 100%;
	line-height: 50px;
	text-align:right;
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'Rubik', sans-serif;
	font-size: 5.4em;
}
article{
padding: 10px;
}
}
